<nav class="navbar navbar-static-top navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle Nav</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand img-responsive" href="#"><img class="logo" src="./css/assets/logoimg.png"/></a>
      <!--glyph here-->
    </div>

    <div id="navbar-right" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="nav-btn">About</li>
        <li class="nav-btn" ng-if="!ctrl.loggedIn" ng-click="ctrl.handleLogForm()">Log in</li>
        <li class="nav-btn" ng-show="!ctrl.loggedIn" ng-click="ctrl.handleRegForm()">Register</li>
        <li class="nav-btn" ng-show="ctrl.loggedIn" ng-click="ctrl.logoutUser()">Log out ({{ctrl.currentUser}})</li>
      </ul>
    </div>

    <!---Log in form--->
    <div ng-if="!ctrl.loggedIn && ctrl.showLogForm">
      <form ng-submit="ctrl.loginUser()" class="form-inline">

        <div class="form-group loggy">
          <input ng-model="ctrl.username" class="form-control" type="text" placeholder="Enter your username here">
        </div>

        <div class="form-group loggy">
          <input ng-model="ctrl.password" class="form-control" type="password" placeholder="Enter your password here">
        </div>

        <div class="form-group loggy_btn">
          <input type="submit" value="login">
        </div>
      </form>
    </div>
    <!---Log in Form--->

    <!---Registration Form--->
    <div ng-if="!ctrl.loggedIn && ctrl.showRegForm">
      <form ng-submit="ctrl.postUser()" class="form-inline">

        <div class="form-group loggy">
          <input ng-model="ctrl.regUsername" class="form-control" type="text" placeholder="Enter your username here">
        </div>

        <div class="form-group loggy">
          <input ng-model="ctrl.regPassword" class="form-control" type="password" placeholder="Enter your password here">
        </div>

        <div class="form-group loggy_btn">
          <input type="submit" value="Register">
        </div>

      </form>
    </div>
    <!---Registration Form--->

  </div>
</nav>
