<!-- <div ng-if="ctrl.loggedIn"> -->

  Receipts


  <div id="recform">
    <span ng-click="ctrl.handleRecForm()">Add Receipt</span>
    <div ng-if="ctrl.showRecForm">
      <form ng-submit="ctrl.postItem()">
      <div ng-repeat="item in ctrl.array">
        <span ng-click="ctrl.removeThisItem($index)">[X]</span><input type="text" placeholder="Item name"> : <input type="text" placeholder="Price">
      </div>
          <br/>
        <input type="text" ng-model="ctrl.regTax" placeholder="Tax" class="money">
          <br/>
        <input type="text" ng-model="ctrl.regTip" placeholder="Tip" class="money">
          <br/>
          <br/>
          Current Total: {{ctrl.regPrice}} + {{ctrl.regTax}} + {{ctrl.regTip}}
          <br/>
          <br/>
        <button type="button" ng-click="ctrl.addNewItem()">Add a new item</button>
          <br/>
          <br/>
        <button type="submit">Submit Receipt</button>
      </form>
    </div>
  </div>
<!-- </div> -->
