<!-- <div ng-if="ctrl.loggedIn"> -->
<button ng-click="ctrl.getCurrentTotal2()">CLICK ME</button>
  <div class="container">
    <div ng-repeat="item in ctrl.items track by $index" class="jumbotron jumbofriend" ng-mouseenter="hoverState = true" ng-mouseleave="hoverState = false">
      <h2 class="display-4">{{item.restaurant}}</h2>

      <!---SEE ALL THE SHIT--->
      <div ng-if="hoverState && !ctrl.editStatus">
        <div class="my-4">
          <div class="receiptContainer">

            <span ng-repeat="itemz in ctrl.items">
              <div ng-repeat="name in itemz.item">
                {{name.name}} <span class="cash">{{name.price}}</span>
                <!-- {{ctrl.getFinalTotal(name.price)}} -->
              </div>
            </span>

            <br/>
            <br/>
            <div>Tax: <span class="cash">{{item.tax}}</span></div>
            <div>Tip: <span class="cash">{{item.tip}}</span></div>
            <div>Total: <span class="cash">{{ctrl.finalTotal}}</span></div>
              <br/>
            <button ng-click="ctrl.toggleEditStatus()">Edit receipt</button>
              <br/>
            <button ng-click="ctrl.deleteItem(item)">Clear receipt</button>
          </div>
        </div>
      </div>
      <!---END OF SEEING ALL THE SHIT---->

      <!---EDIT ALL THE SHIT--->
      <div ng-if="hoverState && ctrl.editStatus">
        <div class="my-4">
          <div class="receiptContainerEdit">
            <form ng-submit="ctrl.editItem(item); ctrl.toggleEditStatus()">
              <input type="text" ng-model="ctrl.updatedRestaurant" placeholder="Restaurant">

              <!-- <input type="text" ng-model="ctrl.updatedArray[$index.name]" placeholder="Item" class="inl"><input type="text" ng-model="ctrl.updatedArray[$index.name]" placeholder="Price" class="inl"> -->


              <!-- <div ng-repeat="item in ctrl.array">
                <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="ctrl.removeThisItem($index)"></span>
                <input type="text" ng-model="ctrl.updatedArray[$index].name" placeholder="{{ctrl.updatedArray[$index].name}}"> : <input type="text" ng-model="ctrl.updatedArray[$index].price" placeholder="{{ctrl.updatedArray[$index].price}}">
              </div> -->

              <input type="text" ng-model="ctrl.updatedTax" placeholder="Tax">
              <input type="text" ng-model="ctrl.updatedTip" placeholder="Tip">
                <br/>
                <br/>
              <button ng-click="ctrl.toggleEditStatus()">Cancel</button>
                <br/>
              <button type="submit">Submit Changes</button>
            </form>
          </div>
        </div>
      </div>
      <!---EDIT ALL OF THIS SHIT--->

    </div>
  </div>

  <div id="recform">
    <span ng-click="ctrl.handleRecForm()">Add Receipt</span>
    <div ng-if="ctrl.showRecForm">
      <form ng-submit="ctrl.postItem()">
        <br/>
      <input type="text" ng-model="ctrl.regRestaurant" placeholder="Restaurant">
        <br/>
        <br/>
      <div ng-repeat="item in ctrl.array">
        <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="ctrl.removeThisItem($index)"></span>  <input type="text" ng-model="ctrl.array[$index].name" placeholder="Item name"> : <input type="text" ng-model="ctrl.array[$index].price" placeholder="Price">
        <!-- {{ctrl.getCurrentTotal(ctrl.array[$index].price)}} -->
      </div>
          <br/>
        <input type="text" ng-model="ctrl.regTax" placeholder="Tax" class="money">
          <br/>
        <input type="text" ng-model="ctrl.regTip" placeholder="Tip" class="money">
          <br/>
          <br/>
          <span class="money">Total: ${{ctrl.currentTotal}}</span>
          <br/>
          <br/>
        <button type="button" ng-click="ctrl.addNewItem()">Add a new item</button>
          <br/>
          <br/>
        <button type="submit">Submit Receipt</button>
      </form>
    </div>
  </div>
<!-- </div> -->
